* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
}

.color-section {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 300px;
  width: 650px;
}

.react-colorful.color-picker {
  width: 300px;
  height: 300px;
}

.selected-color {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;

  /* Neon-Effekt */
    box-shadow:
      0 0 5px currentColor,
      0 0 10px currentColor,
      0 0 20px currentColor,
      0 0 50px currentColor;
  
    border: 2px solid currentColor;
  
    transition:
      background-color 0.2s ease,
      box-shadow 0.2s ease;
}

.color-info {
  min-width: 220px;
  text-align: center;
}

.color-info p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.set-led-button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.set-led-button:hover {
  background-color: #6366f1;
}

.set-led-button:active {
  transform: scale(0.98);
}